:root {
  --yellow: #ffcb05;
  --blue: #2a75bb;
  --darkYellow: #c7a008;
  --darkBlue: #3c5aa6;
}
* {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
  margin: 0;
}

.navbar,
.navbar a {
  background-color: var(--blue);
  color: white;
  font-size: 20px;
}

.navbar-toggler {
  background: white;
}
.btn-outline-success {
  color: white;
  border-color: white;
}
.container {
  list-style: none;
  display: grid;
  width: fit-content;
  margin: 150px auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px 20px;
}

.list-group-item {
  display: flex;
  width: fit-content;
  border-style: none;
}

.btn-primary {
  font-size: 20px;
  border-style: none;
  color: var(--blue);
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-img {
  display: block;
  height: 200px;
  margin: 0 auto;
}
